@media(max-width:924px) {
    body{
        background-image: url(../images/bg-mobile.svg);        
    }

    header {
        max-width: 100%;
        padding: 50px 50px 50px 20px;
    }

    header .logo {
        text-align: center;
        width: 550px;
    }

    .container {
        display: inline-block;
        max-width: 100%;
        padding: 0px;
    }

    .container .imagem {
        text-align: center;
    }

    .container .imagem img {
        width: 800px;
        height: 600px;
        padding: 50px 0px 0px 50px;
    }

    .container .informacao {
        text-align: center;
        color: #fff;
    }

    .container .informacao h1 {
        font-size: 50px;
        max-width: 100%;
    }

    .container .informacao p {
        width: 620px;
        padding-top: 30px;
        font-size: 30px;
    }

    .container .informacao .button {
        font-size: 30px;
        width: 400px;
        margin-left: 100px;
    }

    footer{
        display: flex;
        justify-content: center;
        padding-top:25px;   
        font-size: 60px;
    }
}